<p>feature-section works!</p>
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col cola">
            <h1>
                WHY BUILD<br /><span>WITH HYDRA  </span>
                <img
                  style="
                    width: 157.5px;
                    flex-shrink: 0;
                    stroke-width: 3px;
                    stroke: #c0b7e8;
                  "
                  src="../assets/BigArrow.png"
                  alt=""
                />
              </h1>
        </div>
        <div class="col cola"> 

        <p id="introduction">Hyperesponse buttons
            Thumb-ergonomic analog stick for fluid control
            Low-power magnetic field, low power consumption
            True six degree-of-freedom magnetic motion tracking
            Ultra precise sensor for 1mm and 1 degree tracks
            Rapid fire trigger and bumper for faster in-game response
            Lightweight, anti-tangle braided cable
            Low-power magnetic field, low power consumption
            Ultra precise sensor for 1mm and 1 degree tracking
            No line of sight to controllers required
            Low latency feedback Razer team has probably thought this was the best gaming experience where to experiment Razer Hydra and it is indeed. We installed the game using Steam and started our adventure. The two Razer’s controllers have many buttons and triggers, probably to better play complex roleplaying games</p></div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col  cola ">
            <div class="outerBorder">
    <div class="cardimgholder">
        <img id="img1" src="/assets/stimulation.png" alt="">
    </div>
    <div class="cardTitle">
        <h2>Simulation</h2>
    </div>
    <div class="cardContent">
        <p>The main idea behind this project was to create a smart device able to interact in any virtual world, where experiment a real sense of depth and a total immersion provided by body movemen</p>
    </div>
    <div class="cardButton ">
        <button>TRY IT NOW</button>
    </div>
</div>

        </div>
        <div class="col cola ">
            <div class="outerBorder">
                <div class="cardimgholder">
                    <img id="img1" src="/assets/Education.png" alt="">
                </div>
                <div class="cardTitle">
                    <h2>Education</h2>
                </div>
                <div class="cardContent">
                    <p>The main idea behind this project was to create a smart device able to interact in any virtual world, where experiment a real sense of depth and a total immersion provided by body movemen</p>
                </div>
                <div class="cardButton ">
                    <button>TRY IT NOW</button>
                </div>
            </div>
            
                   </div>
                   <div class="col cola ">
                    <div class="outerBorder">
                        <div class="cardimgholder">
                            <img id="img1" src="/assets/selfcaqre.png" alt="">
                        </div>
                        <div class="cardTitle">
                            <h2>Selfcare</h2>
                        </div>
                        <div class="cardContent">
                            <p>The main idea behind this project was to create a smart device able to interact in any virtual world, where experiment a real sense of depth and a total immersion provided by body movemen</p>
                        </div>
                        <div class="cardButton ">
                            <button>TRY IT NOW</button>
                        </div>
                    g3im
                    
                         </div>
                   </div>
                           <div class="col cola ">
                            <div class="outerBorder">
                                <div class="cardimgholder">
                                    <img id="img1" src="/assets/outdoor.png" alt="">
                                </div>
                                <div class="cardTitle">
                                    <h2>Outdoor</h2>
                                </div>
                                <div class="cardContent">
                                    <p>The main idea behind this project was to create a smart device able to interact in any virtual world, where experiment a real sense of depth and a total immersion provided by body movemen</p>
                                </div>
                                <div class="cardButton ">
                                    <button>TRY IT NOW</button>
                                </div>
                            img4
                            
                                   </div>
                           </div>




    </div>

</div>