
.cola{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #FFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: justify;
padding-left: 88px;
}
span{
   
color: #FFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
#introduction{
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
padding-left: 70px;
padding-right: 95px;
}
.outerBorder{
    width: 19.375rem;
height: 31.9375rem;
flex-shrink: 1;
border-radius: 2.5rem;
background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
display: block;
   
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
  
}
/*  .cardimgholder{
    
    
}
   */
  
    

#img1{
    width: 11.93269rem;
    height: 11.93269rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid #1E1C29;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}
h2{
    color: #FFF;
font-family: Montserrat;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
padding-top: 20px;

}
.cardContent{
    color: #FFF;
font-family: Montserrat;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
padding-left: 20px;
padding-right: 20px;
line-height: normal;
text-align: center;

}
.cardButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
button{
    width: 9.625rem;
height: 3rem;
flex-shrink: 0;
border-radius: 2.5rem;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
color: #343045;
font-family: Montserrat;
font-size: 0.75rem;
font-style: normal;
font-weight: 700; 
line-height: normal;
display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 769px) {
    /* Add CSS rules for larger screens, like tablets and desktops */
      #imgholder{
          padding-left: 0px !important;
      }
    #image {
      width: 350px;
  
    }
    #introduction{
      padding-left: 11px;
      padding-right: 15px;
    }
    #feature-wrapper{
        flex-direction: column;
    }
    h1{
        padding: 0px;
    }
  }
  