<p>work-section works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col cola">
            <div>
               
                <div class="background">
                <h1>
                    TECHNOLOGY & HARDWARE <br> <span>USED BY HYDRA VR </span>
                </h1>
            </div>
                <div>
                    <img src="assets/down.png" alt="">
                </div>
            </div>
            <div>
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex company cola">
            <div><img src="/assets/Hydra-Tech1.png" alt="" class="img-fluid"></div>
            <div><img src="/assets/Hydra-Tech2.png" alt="" class="img-fluid"></div>
            <div><img src="/assets/Hydra-Tech3.png" alt="" class="img-fluid"></div>
            <div><img src="/assets/Hydra-Tech4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>