/* .cola {
    border: 2px solid white;
} */

.background {
    background-image: url("/assets/vr.png");
    
  

}

h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: white;
    /* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} */
}

span {
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.company {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.arrowholder{
    display: flex;
    justify-content: center;
}