<p>footer works!</p>
<div class="container-fluid">
  <div class="row row1">
    <div class="col cola d-flex">
      <div style="margin-left: 99px">
        <img src="/assets/Frame.svg" alt="" />
      </div>
      <div><img src="assets/line.svg" alt=""></div>
      <div>
        <ul>
          <li></li>
          <br />
          <li>ABOUT</li>
          <li>SERVICES</li>
          <li>TECHNOLOGILES</li>
          <li>HOW To</li>
          <li>JOIN HYDRA</li>
        </ul>
      </div>
      <div><img src="assets/line.svg" alt=""></div>
      <div>
        <li>F.A.Q</li>
        <li>SITEMAP</li>
        <li>CONDITIONS</li>
        <li>LICENSES</li>
      </div>
      <div><img src="assets/line.svg" alt=""></div>
      <div style="margin-right: 77px">
        <p>SOCIALIZE WITH HYDRA</p>
        <div class="imgcontainer">
          <img src="assets/facebook.svg" alt="" />
          <img src="assets/twitter.svg" alt="" />
          <img src="assets/linkedin.svg" alt="" />
          <img src="assets/youtube.svg" alt="" />
          <img src="assets/instagram.svg" alt="" />
          <img src="pinterest" alt="" />
        </div>
        <div style="padding-top: 15px;"><button>BUILD YOUR WORLD</button></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p style="text-align: center">
        2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED
      </p>
    </div>
  </div>
</div>
