
<div class="container-fluid">
    <div class="row">
  <div class="col cola">
    <div>
      <h1>JOIN HYDRA</h1>
      <P>Let's Build Your VR Experience </P>
    </div>
    <div class="form">
    <div>
        <input type="text">
        <input type="text" name="" id="">
    </div>
    <div>
        <input type="text">
        <input type="text" name="" id="">
    </div>
    <div>
        <input type="text">
    </div>
    <div>
        <input type="text">
    </div>
    <button>Submit</button>
    </div>
  </div>
</div>
</div>
