<div class="container-fluid">
  <div class="row">
    <div class="col cola">
      <div>
        <h1>JOIN HYDRA</h1>
        <P>Let's Build Your VR Experience </P>
      </div>
      



<div class="d-flex">
  <div class="form">
    <div class="formContent">
      <input class="inputbox1" type="text" />
      <input class="inputbox1" type="text" name="" id="" />
    </div>
    <div class="formContent d-flex p2">
      <div><input class="inputbox1" type="text" /></div>
      <div><input class="inputbox1" type="text" name="" id="" /></div>
    </div>
    <div class="formContent">
      <input class="inputbox2" type="text" />
    </div>
    <div class="formContent">
      <textarea  class="inputbox3" name="message" type="text" id="input-message" placeholder="Message"></textarea>
      
    </div>
    <div id="Button">
      <button>Submit</button>
    </div>
  </div>
</div>
     
    </div>
  </div>
</div>

<!-- <div class="d-flex flex-column " >
  <div><input type="text" />
    <input type="text" /></div>
    <div>
      <input type="text" />
  <input type="text" />

    </div>
  
  <div>
    <input type="text" />
  </div>
 <div> <input type="text" /></div>
 
  <div id="Button">
    <button>Submit</button>
  </div>
</div> -->