
<div class="container-fluid">
    <div class="row">
  <div class="col cola">
    <div>
      <h1>JOIN HYDRA</h1>
      <P>Let's Build Your VR Experience </P>
    </div>
    <div class="form" >
    <div class="formContent">
        <input  class="inputbox1" type="text">
        <input  class="inputbox1" type="text" name="" id="">
    </div>
    <div class="formContent d-flex p2">
        <input class="inputbox1"  type="text">
        <input class="inputbox1"  type="text" name="" id="">
    </div>
    <div class="formContent">
        <input class="inputbox2" type="text">
    </div>
    <div class="formContent">
        <input class="inputbox3" type="textarea" rows="4" cols="50">>
    </div>
    <button>Submit</button>
    </div>
  </div>
</div>
</div>
