<div class="container-fluid">
  <div class="row">
    <div class="col cola">
      <h1>
        Introduction to <br /><span> Hydra VR </span>
        <img
          style="
            width: 157.5px;
            flex-shrink: 0;
            stroke-width: 3px;
            stroke: #c0b7e8;
          "
          src="../assets/BigArrow.png"
          alt=""
        />
      </h1>

      <!-- <h1>Introduction to <br><span> Hydra VR  </span>  <img style="
                    width: 157.5px;
                    flex-shrink: 0; stroke-width: 3px;
                    stroke: #C0B7E8;" src="../assets/BigArrow.png" alt=""></h1> -->
    </div>
    <div class="col cola">
      <p id="introduction">
        Introducing the Razer Hydra, the world’s first PC gaming-grade motion
        sensing controllers that let you extend your natural body motion
        directly into the game. A breathtaking new way to play when you can
        intuitively reach out and interact with the virtual world in complete
        three dimensions, as you would in real life. Faster with ultra-low
        latency and more precise with one-to-one tracking to the exact
        millimeter and degree makes this the best motion sensing for absolute
        game immersion.
      </p>
    </div>
  </div>

  <!-- row 2 -->

  <div class="row" style="margin-top: 35px">
    <div class="col cola">
      <div style="padding-left: 88px">
        <img id="image" src="../assets/Pexel.png" alt="" />
      </div>
    </div>
    <div class="col cola">
      <h1 style="padding-left: 70px !important; padding-right: 95px !important">
        About <br /><span>HYDRA VR</span>
      </h1>
      <p id="introduction" style="margin-top: 10px">
        Unrivalled Precision Technology Using magnetic motion sensing, the best
        available technology of its kind, the Razer Hydra’s compact base station
        can compute the exact location and orientation of controllers in your
        hands, down to a millimeter and degree. Combined with Razer-grade
        ultra-low latency, you get a fluid and unhindered experience that’s
        accurate and precise, like a mirror reflection of you in the game world.
        Total Game Immersion Play your PC games in a new way with motion sensing
        controllers that take you deeper into the game world by letting you
        interact and move in complete three dimensions. Attacking with your
        weapon of choice at any precise angle or throwing a grenade with the
        right force becomes as easy and intuitive as picking up your mobile to
        make a call. Extensive PC Games Library Compatibility Apart from Portal
        2, the Razer Hydra is optimized for over 125 popular PC games right out
        of the box. No more waiting for scarce motion-compatible games. And with
        the future possibility for more downloadable game configurations and the
        ability to self-configure motion mapping to your specifications, the
        Razer Hydra is a versatile monster that plays virtually every game.
      </p>
      <div style="padding-left: 70px; margin-top: 60px">
        <button>LET’S GET IN TOUCH</button>
      </div>
    </div>
  </div>
</div>
