<p>build-section works!</p>
<div class="container-fluid">
  <div class="row" id="section-wrapper">
    <div class="col cola">
      <h1>
        HOW WE BUILD <br /><span><p>WITH Hydra VR</p></span>
        <img
          style="
            width: 157.5px;
            flex-shrink: 0;
            stroke-width: 3px;
            stroke: #c0b7e8;
            margin-left: 20px;
          "
          src="../assets/BigArrow.png"
          alt=""
        />
      </h1>

      <!-- <h1>Introduction to <br><span> Hydra VR  </span>  <img style="
                        width: 157.5px;
                        flex-shrink: 0; stroke-width: 3px;
                        stroke: #C0B7E8;" src="../assets/BigArrow.png" alt=""></h1> -->
    </div>
    <div class="col cola">
      <p id="introduction">
        Introducing the Razer Hydra, the world’s first PC gaming-grade motion
        sensing controllers that let you extend your natural body motion
        directly into the game. A breathtaking new way to play when you can
        intuitively reach out and interact with the virtual world in complete
        three dimensions, as you would in real life. Faster with ultra-low
        latency and more precise with one-to-one tracking to the exact
        millimeter and degree makes this the best motion sensing for absolute
        game immersion.
      </p>
    </div>
  </div>

  <!-- Row 2 -->

  <div class="row">
    <div class="col">
      <div class="circlecontainer d-flex  flex-wrap">
        <div class="circle d-flex flex-column">
          <div class="circle"><p>01</p></div>

          <div class="d-flex align-items-center justify-content-around method"><img src="assets/arrowright.svg
            " alt=""><p>3D Conception <br>
            & Design</p></div>
        </div>
        <div class="circle d-flex flex-column">
            <div class="circle"><p>02</p></div>
  
            <div class="d-flex align-items-center justify-content-around method"><img src="assets/arrowright.svg
                " alt=""><p>Interaction <br>Design</p></div>
          </div>
          <div class="circle d-flex flex-column">
            <div class="circle"><p>03</p></div>
  
            <div class="d-flex align-items-center justify-content-around method"><img src="assets/arrowright.svg
                " alt=""><p>VR World
                <br>
                User Testing
            </p></div>
          </div>
          <div class="circle d-flex flex-column">
            <div class="circle"><p>04</p></div>
  
            <div class="d-flex align-items-center justify-content-around method" ><img src="assets/arrowright.svg
                " alt=""><p>Hydra VR <br> Deploy</p></div>
          </div>
      
        
      </div>
    </div>
  </div>

