/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
 body{
     background: #302C42;
 }
 .row{
  margin-top: 10px;
 }
/*  .col{
  border: 1px solid white;
 } */
 @media screen and (max-width: 767px) {
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
}