<!-- <p>hero-section works!</p>
src/assets/pexels-michelangelo-buonarroti-8728382 1.png -->
<div class="container-fluid " style="padding: 30px">
    <div class="row ">
        <div class="col"  style="padding-top: 30px; margin-left: 30px;">
            <h1>
               <span> Dive </span>Into The Depths <br> Of <span> Virtual Reality</span>
            </h1>
            <p  style="margin-top: 50px;">
                Delve into VR's immersive realms where digital worlds <br>come alive
                Explore gaming, education, and beyond as<br>
                 technology takes a thrilling stride With VR hardware.
            </p>
                  
            <button  style="margin-top: 50px;">BUILD YOUR WORLD</button>
            <img id="arrow" src="../assets/arrow-small-right.svg" alt="">

        </div>
        <div class="col">
            <img id="vrimage" src="../assets/pexels-michelangelo-buonarroti-8728382 1.png" alt="">

        </div>
    </div>

    <div class="row" style="padding: 30px; margin-left: 10px; " >
        <div class="col-12 d-flex" id="details">
            <div class="d-flex"><img id="icons" src="../assets/Location-Icon.svg" alt="">
                <div>
                    <p>Pay Us a Visit</p>
                    <p id="title">1600 Amphitheatre Parkway
                        Mountain View</p>

                </div>
                
            </div>
            <div class="d-flex"><img id="icons" src="../assets/phone-call.svg" alt="">
                <div style="border-right: 10px rgba(192, 183, 232, 0.33);">
                    <p >Give Us a Call  </p>
                    <p id="title">+91 7620015581</p>

                </div>
               </div>
            <div class="d-flex"><img id="icons" src="../assets/mail.png" alt="">
                <div>
                    <p >Send Us a Message</p>
                    <p id="title">Contact@HydraVTech.com</p>
                </div>
                
            </div>
        </div>
    </div>



</div>